---
interface Props {
  mb?: string;
  class?: string;
}

const { mb, class: className } = Astro.props;

const styles = [];
if (mb) {
    styles.push(`margin-bottom: ${mb} !important;`);
} else {
    styles.push("margin-bottom: 2rem;");
}
---

<div class:list={["text-center-wrapper", className]} style={styles.join(" ")}>
  <slot />
</div>

<style>
  .text-center-wrapper {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
